body {
  font-family: 'Lusitana', serif; /* Use Lusitana font */
  background-color: #f7f4f2;
  color: #3b3a37;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.poem-container {
  max-width: 600px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.hover_img {
  position: relative;
  display: inline; /* This ensures the span behaves as inline text and not block-level */
}

.hover_img span {
  display: none;
  position: absolute;
  z-index: 10; /* adjust if necessary */
  left: 50%;
  top: 100%;
  transform: translateX(-50%); 
}

.hover_img:hover span {
  display: inline-block;
}

.hover_img img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
